@charset "utf-8";
@import "normalize";
@import 'settings';
@import 'foundation';
@include foundation-everything(true);
@import 'iubenda';

$numeroVerde-color: #008a2e !default;
$evidence-color: #ffed00 !default;
$button-background-hover: scale-color($evidence-color, $lightness: -15%);
$rosso-color: #FF0A0A !default;
$ctaButton-header-color: $evidence-color !default;
$ctaButton-radius: 30px !default;

.hide {
    visibility: hidden;
}

.title-container {
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 7%;
    padding-left:  2%;
    padding-right:  2%;
    margin-bottom: 10px;

    .title {
        background-color: rgba(255,255,255,0.8);
        text-align: left;
        padding-left: 1%;
        padding-right: 1%;
        letter-spacing: 1px;
        color: #000000;
        h1 {
          font-size: rem-calc(45, null);
        }
        .big {
            text-transform: none;
            font-weight: 700;
            font-style: none;
        }

        .medium {
            font-size: rem-calc(40, null);
            text-transform: none;
            font-weight: 100;
            font-style: normal;
        }
    }
}


.title-mobile {
        font-size: rem-calc(40, null);
        font-weight: 700;
    }


.ctaButton {
    @include button-style($evidence-color, $button-background-hover, #000000);
    font-size: rem-calc(20, null);
    text-transform: uppercase;
    letter-spacing: 2px;
}


.prezzo {
    font-size: 1.8rem;
    color: #ff2424;
    padding: 0.3125rem;
    font-weight: bold;
}

.prezzo_intero {
    text-decoration: line-through;
}

.sconto {
    font-size: rem-calc(20, null);
    font-weight: 700;
    color: $rosso-color;
}

.leggero {
  color: $dark-gray;
  font-size: 0.9rem;
}

.small {
  font-size: 0.9rem;
}

.p_stretto {
  line-height: 1.2;
}

div.spazio_bianco {
  height: 4.5rem;
}

div.spazio_bianco_small {
  height: 2rem;
}

.stelle {
  color: #fad220;
  font-size: 2rem;
}

.border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: scale-color($dark-gray, $lightness: 80%);
}

.border-top {
    margin-top: 18px;
}

.menu-text {
    padding: 0rem;
}

.top-bar {
  background-color: #ffffff;
  padding: 0rem;

  ul {
    background-color: #ffffff;
  }
}

.box_nverde {
    line-height: 2.1875rem;
    font-size: rem-calc(20, null);
}

.numero-verde {
    font-size: rem-calc(40, null);
    color: #008a2e;
}

.numero-verde-menu {
    font-size: rem-calc(30, null);
    color: #008a2e;
}

.center {
    text-align: center;
}

.vantaggiForm {
    padding-top: 50px;
    text-align: center;
    h5 {
        margin-bottom: 20px;
    }
}

.recensione {
  img {
    float: left;
    padding: 0.8rem;
  }
}

.indirizzo {
  font-size: rem-calc(25, null);
  font-style: italic;
  color: $dark-gray;
}



.bannerAside {

    .sconto {
        font-size: rem-calc(40, null);
        font-weight: 700;
        color: $rosso-color;
    }

    .subSconto {
        font-size: rem-calc(14, null);
        font-weight: 300;
        color: #000000;
    }

    .dataPromo {
        text-transform: capitalize;
    }
}

.banner {
    text-align: center;
    padding-top: rem-calc(50, null);
    padding-bottom: rem-calc(50, null);
    padding-left: rem-calc(20, null);
    padding-right: rem-calc(20, null);
    letter-spacing: 1px;

    .sconto {
        font-size: 5vw;
        text-transform: none;
        font-weight: 700;
        font-style: normal;
        color: $rosso-color;
    }

    .subSconto {
        font-size: 3vw;
        text-transform: none;
        font-weight: 100;
        font-style: normal;
        color: #000000;
    }

}

.banner-small {
    text-align: center;
    padding-bottom: rem-calc(20, null);
    padding-left: rem-calc(10, null);
    padding-right: rem-calc(10, null);

    .sconto {
        font-size: rem-calc(40, null);
        font-weight: 700;
        color: $rosso-color;
        line-height: 3rem;
    }


    .subSconto {
        font-size: rem-calc(20, null);
        font-weight: 300;
        line-height: 1rem;
        color: #000000;
    }

    .dataPromo {
        text-transform: capitalize;
    }
}