<div class="row align-right">
    <div class="columns">
        <h3 class="subheader">Facile, Leggero e Preciso</h3>
        <p class="p_stretto">
            <span class="leggero">Prezzo: <span class="prezzo_intero">126,00€</span></span><br>
            Offerta: <span class="prezzo">37,80€</span><br class="show-for-small-only"> <span class="sconto">Sconto del 70%</span><br>
            <span class="leggero">Risparmi: 88,20€ </span><br class="show-for-small-only"><br class="show-for-small-only"><span class="show-for-medium"> - </span><i>Fino al <strong class="dataPromo">15 Settembre</strong></i> <br>
        </p>
        <p class="p_stretto">
            <i class="leggero">Spedizione <strong>senza</strong> costi aggiuntivi</i><br>
            <span class="leggero">Disponibilità:</span> solo 9 pezzi!
        </p>
            <button
                class="acquistaSubito ctaButton button snipcart-add-item"
                data-item-id="mp_01"
                data-item-name="Misuratore di Pressione"
                data-item-price="37.80"
                data-item-url="https://www.misuratore-pressione.eu/<%= current_page.url %>"
                data-item-description="Misuratore di pressione da braccio automatico">
                    Aggiungi al Carrello
            </button><br>
            <div class="box_nverde">
                <span>Oppure ordina <strong>ordina al TELEFONO</strong> <span class="show-for-medium">e</span> <br class="show-for-small-only"> <strong>Paga alla consegna</strong>!</span><br />
                <a href="tel:800-180-439" class="numero-verde"><i class="fa fa-phone" aria-hidden="true"></i> 800-180-439</a> <i class="leggero"><br class="show-for-small-only">(Numero Verde Gratuito)</i><br />
                <span>Lun-Ven dalle 9:00 alle 18:00</span>
            </div>

    </div>
</div>