<div class="row align-middle">
    <div class="columns">
        <%= titolo %>
        <h3 class="subheader">Facile, Leggero e Preciso</h3>
        <p class="p_stretto">
            <span class="leggero">Prezzo: <span class="prezzo_intero">70,00€</span></span><br>
            Offerta: <span class="prezzo">49,00€</span><i class="leggero">(Spedizione senza costi aggiuntivi)</i><br>
            <span class="leggero">Risparmi: 21,00€ (30%)</span><br>
        </p>
        <p>
            <a class="ctaButton button">Acquista subito</a>
        </p>

        <ul class="leggero">
            <li>100% soddisfatti o rimborsati</li>
            <li>Spedizione <strong>gratuita</strong> in 24h</li>
            <li>Garanzia <strong>6 anni</strong></li>
            <li>Assistenza gratuita: 800-180-439 </li>
        </ul>

    </div>
    <div class="columns small-12 medium-6">
        <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/e7a2d08bf02cb3af7b0424c4d61e43b0b50ed1a2_intero.jpg">
    </div>
</div>