<div class="row align-right">
    <div class="columns">
        <h3 class="subheader">Facile, Leggero e Preciso</h3>
        <p class="p_stretto">
            <span class="leggero">Prezzo: <span class="prezzo_intero">75,60€</span></span><br>
            Offerta: <span class="prezzo">37,80€</span><br class="show-for-small-only"> <span class="sconto">Sconto del 50%</span><br>
            <span class="leggero">Risparmi: 37,80€ </span><br class="show-for-small-only"><br class="show-for-small-only"><span class="show-for-medium"> - </span><i>Fino al <strong class="dataPromo">termine</strong></i> <br>
        </p>
        <p class="p_stretto">
            <i class="leggero">Spedizione <strong>senza</strong> costi aggiuntivi</i><br>
            <span class="leggero">Disponibilità:</span> solo 4 pezzi!
        </p>
            <%= partial "partials/addToCart" %>
            <br>
            <div class="box_nverde">
                <span>Oppure <strong>ordina al TELEFONO</strong> <span class="show-for-medium">e</span> <br class="show-for-small-only"> <strong>Paga alla consegna</strong>!</span><br />
                <a href="tel:800-180-439" class="numero-verde"><i class="fa fa-phone" aria-hidden="true"></i> 800-180-439</a> <i class="leggero"><br class="show-for-small-only">(Numero Verde Gratuito)</i><br />
                <span>Lun-Ven dalle 9:00 alle 18:00</span>
            </div>

    </div>
</div>