<!-- Sidebar -->

<aside class="large-2 columns show-for-large">

    <h5><%= link_to 'Home '+blog.options.name, '/'+blog.options.name %></h5>

    <hr>
    <div class="row bannerAside">
        <div class="small-12 columns">
            <a href="/">
                <span class="subSconto hide-for-small">Misuratore di Pressione</span></span><br>
                <span class="sconto">- 30%</span><br />
                <button class="hollow button">Maggiori informazioni</button>
            </a>
        </div>
    </div>
    <hr>
    <% if  blog.tags.size > 0  %>
        <h5>Tag</h5>
        <div class="row">
            <% blog.tags.each do |tag, articles| %>
                <div class="small-12 columns small"><%= link_to tag+' ('+articles.size.to_s+')', tag_path(tag) %></div>
             <% end %>
        </div>
    <% end %>

</aside>