<div class="row banner show-for-medium">
        <div class="small-12 columns">
                <span class="sconto">70% di Sconto </span> <br><i>Fino al <strong class="dataPromo">15 Settembre</strong></i><br>

                <span class="phoneAction">
                     <span class="subSconto"><i>Ordina al Telefono e Paga alla Consegna</i></span><br>
                    <a href="tel:800-180-439" class="ctaButton button numero-verde"><i class="fa fa-phone" aria-hidden="true"></i> 800-180-439</a>
                    <br>Dal Lunedì al Venerdì - dalle 09 alle 18
                </span>
                <span class="ecommerceAction hide">
                     <span class="subSconto"><i>Ordina subito e Paga alla Consegna</i></span><br>
                    <%= partial "partials/addToCart" %>
                </span>


        </div>
</div>


<div class="row banner-small show-for-small-only">
         <div class="small-12 columns">
                <span class="sconto">70% di Sconto </span> <br><i>Fino al <strong class="dataPromo">15 Settembre</strong></i><br>

                <span class="phoneAction">
                    <span class="subSconto"><i>Ordina al Telefono e Paga alla Consegna</i></span><br>
                    <a href="tel:800-180-439" class="numero-verde"><i class="fa fa-phone" aria-hidden="true"></i> 800-180-439</a>
                    <br>Dal Lunedì al Venerdì - dalle 09 alle 18
                </span>

                <span class="ecommerceAction hide">
                     <span class="subSconto"><i>Ordina subito e Paga alla Consegna</i></span><br>
                    <%= partial "partials/addToCart" %>
                </span>

        </div>
</div>