<div class="row">
    <div class="columns medium-8 small-12 ordine">
        <div class="row">
            <div class="columns head-box">
                Concludi l'ordine
            </div>
        </div>
        <!-- <div id="dropin-container"></div>
        <button id="submit-button">Request payment method</button> -->
        <!-- <div class="demo-frame">
          <form action="/" method="post" id="cardForm" >
            <label class="hosted-fields--label" for="card-number">Card Number</label>
            <div id="card-number" class="hosted-field"></div>

            <label class="hosted-fields--label" for="expiration-date">Expiration Date</label>
            <div id="expiration-date" class="hosted-field"></div>

            <label class="hosted-fields--label" for="cvv">CVV</label>
            <div id="cvv" class="hosted-field"></div>

            <label class="hosted-fields--label" for="postal-code">Postal Code</label>
            <div id="postal-code" class="hosted-field"></div>

            <div class="button-container">
            <input type="submit" class="button button--small button--green" value="Purchase" id="submit"/>
            </div>
          </form>
        <div> -->
        <div class="spazio_bianco-small"></div>
        <div class="">
            <form data-abide class="formOrdine" id="formOrdine" idaccept-charset="UTF-8" method="POST">
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Nome
                            <input type="text" name="nome" placeholder="il tuo nome" required>
                            <span class="form-error">
                                Il campo Nome è obbligatorio
                            </span>
                        </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>Cognome
                            <input type="text" name="cognome" placeholder="il tuo congome" required>
                            <span class="form-error">
                                Il campo Cognome è obbligatorio
                            </span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>E-email
                            <input type="email" name="email" placeholder="il tuo indirizzo email" required>
                            <span class="form-error">
                                Il campo E-mail è obbligatorio
                            </span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="columns medium-12 mall-12">
                        <div id="dropin-container"></div>
                    </div>
                </div>
                <div class="row align-center">
                    <div class="medium-4 small-12 columns">
                        <button class="button inviaPagamento" type="submit" value="Submit">Concludi l'ordine!</button>
                    </div>
                </div>
            </form>
        </div>

  <script>

        braintree.dropin.create({
            authorization: 'sandbox_fywvymd4_qbbdrsz2pjdq25d5',
            container: '#dropin-container',
            locale: 'it_IT',
            translations: {
                payWithCard: 'Paga con Carta di Credito',
                cvvThreeDigitLabelSubheading: '(3 cifre sul retro della carta)',
                postalCodeLabel: 'Codice di Avviamento Postale'
            }
        }, function (createErr, instance) {
            $( "#formOrdine" ).click(function( event ) {

                event.preventDefault();

                var formData = $('#formOrdine').serializeObject();

                console.log (formData);

                instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
                        saveCreditCardResponse (payload);
                });
            });
        });


    // var form = document.querySelector('#cardForm');
    // var authorization = 'sandbox_fywvymd4_qbbdrsz2pjdq25d5';

    // braintree.client.create({
    //   authorization: authorization
    // }, function(err, clientInstance) {
    //   if (err) {
    //     console.error(err);
    //     return;
    //   }
    //   createHostedFields(clientInstance);
    // });

    // function createHostedFields(clientInstance) {
    //   braintree.hostedFields.create({
    //     client: clientInstance,
    //     styles: {
    //       'input': {
    //         'font-size': '16px',
    //         'font-family': 'courier, monospace',
    //         'font-weight': 'lighter',
    //         'color': '#ccc'
    //       },
    //       ':focus': {
    //         'color': 'black'
    //       },
    //       '.valid': {
    //         'color': '#8bdda8'
    //       }
    //     },
    //     fields: {
    //       number: {
    //         selector: '#card-number',
    //         placeholder: '4111 1111 1111 1111'
    //       },
    //       cvv: {
    //         selector: '#cvv',
    //         placeholder: '123'
    //       },
    //       expirationDate: {
    //         selector: '#expiration-date',
    //         placeholder: 'MM/YYYY'
    //       },
    //       postalCode: {
    //         selector: '#postal-code',
    //         placeholder: '11111'
    //       }
    //     }
    //   }, function (err, hostedFieldsInstance) {
    //     var teardown = function (event) {
    //       event.preventDefault();
    //       alert('Submit your nonce to your server here!');
    //       hostedFieldsInstance.teardown(function () {
    //         createHostedFields(clientInstance);
    //         form.removeEventListener('submit', teardown, false);
    //       });
    //     };

    //     form.addEventListener('submit', teardown, false);
    //   });
    // }

    // $( "#formCard" ).submit(function( event ) {

    //     event.preventDefault();

    //     let formId = event.currentTarget.id;
    //     let stringForm = 'form#' + formId;

    //     var formData = $(stringForm).serializeObject();

    //     console.log (formData.number.replace(/\s+/g, ''));

    //     console.log (formData);

    //     $.ajax({
    //         method: "POST",
    //         url: "https://api.marketcloud.it/v0/integrations/braintree/clientToken",
    //         headers : {
    //             "Authorization" : '3453bfe9-0252-45ba-a6fe-bba5f8b34120'
    //         }
    //     })
    //     .done(function( response ) {
    //         var braintreeClientToken = response.data.clientToken;

    //         console.log (braintreeClientToken);

    //         braintree.client.create({
    //             authorization: braintreeClientToken
    //         }, function (createErr, clientInstance) {
    //             if (createErr) { throw new Error(createErr); }

    //             let data = {
    //                 creditCard: {
    //                     number: formData.number,
    //                     cvv: formData.cvc,
    //                     expirationDate: formData.expiry,
    //                     billingAddress: {
    //                         postalCode: '20128'
    //                     },
    //                     options: {
    //                         validate: false
    //                     }
    //                 }
    //             };

    //             clientInstance.request({
    //                 endpoint: 'payment_methods/credit_cards',
    //                 method: 'post',
    //                 data: data
    //             }, function (requestErr, response) {
    //                 // More detailed example of handling API errors: https://codepen.io/braintree/pen/MbwjdM
    //                 if (requestErr) { throw new Error(requestErr); }
    //                     console.log (response);
    //                     console.log('Got nonce:', response.creditCards[0].nonce);
    //             });
    //         });

    //     })



    // });

    // var card = new Card({
    //     // a selector or DOM element for the form where users will
    //     // be entering their information
    //     form: '#formCard', // *required*
    //     // a selector or DOM element for the container
    //     // where you want the card to appear
    //     container: '.card-wrapper', // *required*

    //     formSelectors: {
    //         numberInput: 'input#number', // optional — default input[name="number"]
    //         expiryInput: 'input#expiry', // optional — default input[name="expiry"]
    //         cvcInput: 'input#cvc', // optional — default input[name="cvc"]
    //         nameInput: 'input#name' // optional - defaults input[name="name"]
    //     },

    //     width: 350, // optional — default 350px
    //     formatting: true, // optional - default true

    //     // Strings for translation - optional
    //     messages: {
    //         validDate: 'valid\ndate', // optional - default 'valid\nthru'
    //         monthYear: 'mm/yyyy', // optional - default 'month/year'
    //     },

    //     // Default placeholders for rendered fields - optional
    //     placeholders: {
    //         number: '•••• •••• •••• ••••',
    //         name: 'Full Name',
    //         expiry: '••/••',
    //         cvc: '•••'
    //     },

    //     masks: {
    //         cardNumber: '•' // optional - mask card number
    //     },

    //     // if true, will log helpful messages for setting up Card
    //     debug: false // optional - default false
    // });



  </script>

    </div>
    <div class="columns medium-3 small-12 elenco-prodotti">
        <div class="row">
            <div class="columns head-box">
                Riepilogo ordine
            </div>
        </div>
        <div class="row align-right riga-costo">
            <div class="columns small-6">
                Totale prodotti:
            </div>
            <div class="columns small-6">
                {{formatEuro total}}
            </div>
        </div>
        <div class="row align-right riga-costo">
            <div class="columns small-6">
                Spedizione:
            </div>
            <div class="columns small-6">
                0,00 €
            </div>
        </div>
        <div class="row align-right riga-costo">
            <div class="columns small-6">
                <strong>Totale</strong>:
            </div>
            <div class="columns small-6">
                <strong>{{formatEuro total}}</strong>
            </div>
        </div>

        <div class="spazio_bianco-small"></div>

        <div class="row">
            <div class="columns head-box">
                Elenco prodotti
            </div>
        </div>
        {{#items}}
        <div class="box-prodotto">
            <div class="row">
                <div class="columns titolo-prodotto">
                    {{name}}
                </div>
            </div>
            <div class="row align-center align-middle">
                <div class="small-12 columns">
                        <img src="{{images}}">
                </div>
            </div>
            <div class="row align-center align-middle">
                <div class="small-12 columns">
                    <span class="labelProdotti">Prezzo Unitario</span>: <span>{{formatEuro price}}</span><br>
                    <form class="formCartProduct" id="{{id}}" idaccept-charset="UTF-8" method="POST">
                        <input type="hidden" name="itemId" value="{{id}}">
                        <label>Quantità:
                            <input type="number" name="quantity" value="{{quantity}}" required>
                        </label>
                        <button class="button inviaRichiesta" type="submit" value="Submit">Modifica la Quantità</button>
                    </form>

                </div>

            </div>
        </div>

        {{/items}}
    </div>

</div>

<script type="text/javascript">
    $( ".formCartProduct" ).submit(function( event ) {

        event.preventDefault();

        let formId = event.currentTarget.id;
        let stringForm = 'form#' + formId;

        let formData = $(stringForm).serializeObject();

        if (formData.quantity <= 0) {
            formData.quantity  = 1;
        }

        updateCart (formData);

    });

</script>