---
title: Misuratore di pressione

testata:
    prima_riga: Risarcimento Danni
    hasButton: 0
    seconda_riga: >

            Ottieni il Massimo del Risarcimento!

immagineTestata: https://prismic-io.s3.amazonaws.com/misuratoripressione/eb064eba64f2e0e91c745da76432122787ecbf48_donna001.jpg

---

<div id="app">
  <p>{{ message }}</p>
</div>
