<div class="row">
    <div class="columns">
        <h2>Grazie per averci contattati</h2>
        <p>
            Risponderemo alla vostra richiesta il più velocemente possibile!
        </p>
    </div>
</div>