---
title: Misuratore di pressione
---

<%= partial "partials/acquisto_misuratore_pressione", :locals => { :titolo => "<h1>Misuratore di pressione</h1>"} %>

<div class="spazio_bianco"></div>
<div class="row">
    <div class="column medium-5 small-12 small-order-2 medium-order-1">
        <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/f5f3e735f2f9e9f7efd3d46f610121bcf8551e7e_misurazione.jpg">
    </div>
    <div class="column small-order-1 medium-order-2">
        <h2>Previeni le malattie cardiovascolari</h2>
        <p>
            L'ipertensione Arteriosa (asintomatica) è la principale causa di malattie cardiovascolari (infarto del miocardio, ictus cerebrale, scompenso cardiaco) e in Italia provoca <strong>240.000</strong> morti all'anno
        </p>
        <p>
            <i>Lo sfigmomanometro ti permette di tenere monitorata autonomamente la pressione direttamente da casa tua. Ogni giorno!</i>
        </p>
    </div>
</div>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="columns">
        <h2>Facile e Intuitivo</h2>
        <p>
            Di facile utilizzo, permette a tutti di essere usato senza alcuna preparazione medica. <strong>Bastano 3 minuti</strong>!
        </p>
        <div class="row">
            <div class="columns small-12 medium-4">
                <h4>Avvolgi la fascia</h3>
                <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/13141068baf5f31eb4a7cddff824f7a5ad872ea8_fascia1.jpg">
            </div>
            <div class="columns small-12 medium-4">
                <h4>Accendi il dispositivo</h3>
                <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/288b90bb55f4b467267d311f6fd68ec76c39ad54_accensione.jpg">
            </div>
            <div class="columns small-12 medium-4">
                <h4>Leggi i dati</h3>
                <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/7442f1322dae57d3dc12277916a2d3cd923d6384_misurazione.jpg">
            </div>
        </div>
        <p>
            <i>Completamente automatico, non richiede alcuna competenza medica o tecnica</i>
        </p>
    </div>
</div>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="columns medium-5 small-12 small-order-2 medium-order-1">
        <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/defd30ef8a66a1c3b2e3f1e02cabc2b0905e5bdf_primopiano.jpg">
    </div>
    <div class="columns small-order-1 medium-order-2">
        <h2>Per tutti, ogni giorno</h2>
        <p>Il nostro misuratore di pressione è pensato per essere usato quotidianamente. Non richiede manutenzione, è sempre preciso ed accurato e di semplice uso</p>

        <ul>
            <li>Dotato di <strong>ampio</strong> schermo</li>
            <li>Con <strong>grandi numeri</strong>, facilmente leggibili</li>
            <li>Indica istantaneamente la pressione irregolare (WHO)</li>
            <li>Capace di segnalare un eventuale battito cardiaco irregolare (IHB)</li>
            <li>90 Misurazioni memorizzabili per 2 persone</li>
            <li>Preserva le batterie spegnendosi automaticamente dopo 3 minuti di inutilizzo</li>
        </ul>

    </div>
</div>
<div class="spazio_bianco"></div>
<div class="row">
    <div class="columns">
        <h2>Consigliato da medici e professionisti</h2>
        <p>Il nostro sigmomanometro è stato testato sul campo da associazioni di soccorso e medici. E' un prodotto affidabile <strong>garantito 6 anni</strong>!</p>

        <ul>
            <li>Usato quotodianamente da associazioni di soccorso</li>
            <li>Certificazione FDA (Ente di certificazione americano)</li>
            <li><strong>Garantito 6 Anni</strong></li>
        </ul>

    </div>
    <div class="columns medium-5 show-for-medium">
        <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/ccd5316b68308efdf1e34400ee0bedf8802102d3_consiglio2trasp.png">
    </div>
</div>
<div class="spazio_bianco"></div>

<div class="row">
    <div class="columns">
        <h2>Recensioni del prodotto</h2>
        <div class="row align-middle">
            <div class="columns small-12 medium-4">
                <h4>Roberta Vitale</h3>
                <p class="recensione">
                    <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/2997601d68dadac537d980dddc2c1b5cae55addd_roberta-vitale.jpg"> Il prodotto è di ottima fattura e intuitivo anche per chi come me è meno esperto con la tecnologia. Basta avvolgere la fascia al braccio come da istruzioni, accendere l'apparecchio e leggere la pressione e i battiti cardiaci al minuto. Ormai lo uso da un paio di mesi e le misurazioni sono sempre precise. Consigliatissimo!
                </p>
                <span class="stelle"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
            </div>
            <div class="columns small-12 medium-4">
                <h4>Giorgio Olivieri</h3>
                <p class="recensione">
                    <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/b585dc5012cda244e48843e31ee428a4537a3eaf_giorgio-olivieri.jpg"> Un valido prodotto con ottima qualità dei materiali. Ho chiamato il numero verde per avere più informazioni sulla circonferenza del bracciale e sono stati molto gentili. Consegna nei tempi previsti, e senza nessuna complicazione, imballaggio perfetto. Anche mia moglie è rimasta molto soddisfatta della qualità del prodotto!!
                </p>
                <span class="stelle"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
            </div>
            <div class="columns small-12 medium-4">
                <h4>Mauro Candido</h3>
                <p class="recensione">
                    <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/b1034e43647e92e4bdaff3c2ac10e131f08485df_mauro-candido.jpg"> Ho scelto questo misuratore di pressione per due requisiti fondamentali: facilità di utilizzo (lo usano i miei genitori, ormai anziani) e la possibilità di memorizzazione dei dati per due utenti. Lo raccomando a tutti per qualità, prezzo e affidabilità della misurazione (ho confrontato i dati con quelli di un altro misuratore che avevo a casa).
                </p>
                <span class="stelle"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="spazio_bianco"></div>

<%= partial "partials/acquisto_misuratore_pressione", :locals => { :titolo => "<h2>Misuratore di pressione</h2>"} %>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="columns">
        <h2>Cosa troverai nella confezione</h2>
    </div>
</div>
<div class="row">
    <div class="columns">
        <p>
            <h4>Misuratore di pressione</h3>
            <ul>
                <li>Peso: <i>500g</i></li>
                <li>Misura base: <i>20cm</i></li>
                <li>Misura larghezza: <i>30cm</i></li>
                <li>Misura altezza: <i>20cm</i></li>
            </ul>
        </p>
        <p>
            <h4>Fascia per braccio</h3>
            <ul>
                <li>Circonfernza braccio: <i>da 20cm a 45cm</i></li>
            </ul>
        </p>
        <p>
            <h4>Manuale d'uso</h3>
            <ul>
                <li>Manuale d'uso con disegni</li>
            </ul>
        </p>
        <p>
            <h4>Batterie</h3>
            <ul>
                <li>4 Pile AA da 1,5 volt</li>
            </ul>
        </p>
    </div>
    <div class="columns small-12 medium-7">
        <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/7a9f962b65ab161c098ba86c39b283868cc97900_insieme.jpg">
    </div>
</div>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="columns small-12 medium-5 small-order-2 medium-order-1">
        <img src="https://prismic-io.s3.amazonaws.com/solede%2Fec203e4a-0567-4ec6-965f-d0893d2990c6_logo_solede.png">
    </div>
    <div class="columns small-order-1 medium-order-2">
        <h2>Onestà e competenza</h2>
        <p>
            Solede è una giovane realtà nata nel 2015 allo scopo di diffondere la <strong>cultura della prevenzione</strong> attraverso la diffusione di strumenti elettronici di facile utilizzo.
        </p>
        <p>
            Unitamente ad un grosso lavoro di formazione e culturale, cerchiamo di rendere disponibili al grande pubbico degli stumenti di misurazione monitoraggio della propria salute.
        </p>
        <p>
            <i>Avvalendosi della consulenza di medici affermati e professionisti del soccorso, Solede propone al proprio pubblico strumenti di monitoraggio semplic e funzionali a prezzi competitivi</i>
        </p>
    </div>
</div>


<hr>

<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5", :precentuale_sconto => "30", :id_pagina => "misuratore_pressione"} %>

