---
title: Misuratore di pressione

testata:
    prima_riga: Diritto di Recesso
    hasButton: 0
    seconda_riga: >

            Restituzione e Rimborsi

immagineTestata: https://prismic-io.s3.amazonaws.com/misuratoripressione/eb064eba64f2e0e91c745da76432122787ecbf48_donna001.jpg

---

<div class="row align-center">
    <div class="columns small-9">
        <h2>Restituzione e Rimborsi</h2>
        <p>
            E' possibile restituire un prodotto entro un periodo di <strong>14 giorni dalla data di ricevimento</strong> del prodotto.
        </p>

        <p>
            Il prodotto deve essere restituito con il suo <strong>imballo originale incluse etichette e istruzioni</strong>, non deve essere stato danneggiato in alcun modo e deve essere accompagnato da fattura.
        </p>

        <p>
            Prima di procedere al reso si prega di <strong>contattare <a href="mailto:info@solede.com">info@solede.com</a></strong> per la relativa autorizzazione e per concordare il ritiro del prodotto da rendere.
        </p>

        <p>
            Non saranno accettati resi, se non preventivamente autorizzati da Fucina del Tag.
        </p>

        <p>
            Fucina del Tag <strong>non addebiterà al cliente nessun costo</strong> per la spedizione del prodotto.
        </p>

        <p>
            <i>Prima di effettuare un rimborso Fucina del Tag si riserva il diritto di verificare lo stato del prodotto e, se tutte le condizioni sopra elencate saranno state rispettate, il rimborso sarà effettuato direttamente sulla carta di credito o sul conto corrente utilizzato per il pagamento.</i>
        </p>
        <p>
            Fucina del Tag non è responsabile per la mancata ricezione dei resi dei clienti.
        </p>




        </p>
    </div>
</div>